@media all and (min-width: 300px) and (max-width: 400px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }
  body #wall {
    display: none;
  }
  body #wall.active {
    overflow-y: hidden;
    position: absolute;
    display: block;
    width: 120%;
    height: 700%;
    z-index: 1;
    background-color: white;
    -webkit-animation: wallAnimation .25s ease-in-out;
            animation: wallAnimation .25s ease-in-out;
  }
  @-webkit-keyframes wallAnimation {
    0% {
      opacity: .1;
      -webkit-transform: translateX(20em);
              transform: translateX(20em);
    }
    40% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0em);
              transform: translateX(0em);
    }
  }
  @keyframes wallAnimation {
    0% {
      opacity: .1;
      -webkit-transform: translateX(20em);
              transform: translateX(20em);
    }
    40% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0em);
              transform: translateX(0em);
    }
  }
  header {
    background-image: url(../IMAGES/hero-mobile.jpg);
    background-size: 100% 73%;
  }
  header h1, header .h1 {
    padding-bottom: 16%;
    font-size: 4em;
  }
  header #quickestCar {
    white-space: pre;
    font-size: 1em;
  }
  header #LogoImage {
    display: block;
    width: 40%;
  }
  header .navDivs {
    display: none;
  }
  header .navDivs.active {
    display: block;
    -webkit-animation-name: activeAnim;
            animation-name: activeAnim;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-transition: ease-out;
    transition: ease-out;
    z-index: 2;
    font-size: 3em;
  }
  header .navDivs.active img {
    display: none;
  }
  header .navDivs.active ul {
    margin-top: 1em;
    margin-left: -1em;
  }
  header .navDivs.active ul li {
    display: block;
    margin-bottom: 3em;
    border-bottom: 1px solid black;
    width: 5em;
  }
  header .navDivs.active .secondUl {
    position: absolute;
    bottom: -10em;
    left: 40px;
  }
  header .hamburgerContainer {
    position: absolute;
    width: 5em;
    height: 4em;
    right: 0;
    z-index: 2;
  }
  header .hamburgerContainer .hamburger {
    width: 3.5em;
    height: .5em;
    background-color: whitesmoke;
    margin: 10% 0;
    margin-left: auto;
    margin-right: auto;
  }
  header .hamburger.active {
    background-color: black;
  }
  header .headerFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .headerFooter button {
    margin-left: auto;
    margin-right: auto;
  }
  header .headerFooter .specs .material-icons {
    margin: -9.75% -12.5%;
  }
  main {
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  main .animTopImage1 {
    -webkit-animation: standardAnimation .15s ease-in-out;
            animation: standardAnimation .15s ease-in-out;
  }
  main .trigger.active p {
    -webkit-transform: translateY(1em);
            transform: translateY(1em);
    font-size: 0.813em;
    line-height: 1.1em;
    letter-spacing: -0.064em;
    font-weight: 400;
  }
  main .trigger.active h3 {
    -webkit-transform: translateY(-7em);
            transform: translateY(-7em);
  }
  main .trigger.active #topImg_2 {
    -webkit-transform: translateY(-1em);
            transform: translateY(-1em);
    -webkit-animation-name: activeAnim;
            animation-name: activeAnim;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
  }
  main ul {
    margin-bottom: 10em;
    margin-left: -40%;
  }
  main ul li {
    width: 69%;
  }
  main .backImgText h2 {
    line-height: 2;
    letter-spacing: -0.066em;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
  }
  main .backImgText p {
    font-size: .7em;
    line-height: 1em;
    margin-top: 18em;
  }
  main .interiorText {
    margin-bottom: 10%;
  }
  main .noAnim {
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-animation: none;
            animation: none;
  }
  footer {
    margin-top: -10em;
  }
  iframe {
    width: 300px;
  }
  @-webkit-keyframes ham1Anim {
    100% {
      -webkit-transform: translateY(15px) rotate(-55deg) scale(0.8);
              transform: translateY(15px) rotate(-55deg) scale(0.8);
      border-radius: 2em;
      -webkit-transition: ease-in-out;
      transition: ease-in-out;
    }
  }
  @keyframes ham1Anim {
    100% {
      -webkit-transform: translateY(15px) rotate(-55deg) scale(0.8);
              transform: translateY(15px) rotate(-55deg) scale(0.8);
      border-radius: 2em;
      -webkit-transition: ease-in-out;
      transition: ease-in-out;
    }
  }
  @-webkit-keyframes ham2Anim {
    100% {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      -webkit-transition: ease-in-out;
      transition: ease-in-out;
    }
  }
  @keyframes ham2Anim {
    100% {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      -webkit-transition: ease-in-out;
      transition: ease-in-out;
    }
  }
  @-webkit-keyframes ham3Anim {
    100% {
      -webkit-transform: translateY(-15px) rotate(55deg) scale(0.8);
              transform: translateY(-15px) rotate(55deg) scale(0.8);
      border-radius: 2em;
      -webkit-transition: ease-in-out;
      transition: ease-in-out;
    }
  }
  @keyframes ham3Anim {
    100% {
      -webkit-transform: translateY(-15px) rotate(55deg) scale(0.8);
              transform: translateY(-15px) rotate(55deg) scale(0.8);
      border-radius: 2em;
      -webkit-transition: ease-in-out;
      transition: ease-in-out;
    }
  }
  #ham1.crossAnim {
    -webkit-animation-name: ham1Anim;
            animation-name: ham1Anim;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #ham2.crossAnim {
    -webkit-animation-name: ham2Anim;
            animation-name: ham2Anim;
    -webkit-animation-duration: .15s;
            animation-duration: .15s;
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #ham3.crossAnim {
    -webkit-animation-name: ham3Anim;
            animation-name: ham3Anim;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}

@media all and (min-width: 401px) and (max-width: 500px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }
  body #wall {
    display: none;
  }
  body #wall.active {
    overflow-y: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 400%;
    z-index: 1;
    background-color: #8d8d8d;
    -webkit-animation: wallAnimation .25s ease-in-out;
            animation: wallAnimation .25s ease-in-out;
  }
  @-webkit-keyframes wallAnimation {
    0% {
      opacity: .1;
      -webkit-transform: translateX(20em);
              transform: translateX(20em);
    }
    40% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0em);
              transform: translateX(0em);
    }
  }
  @keyframes wallAnimation {
    0% {
      opacity: .1;
      -webkit-transform: translateX(20em);
              transform: translateX(20em);
    }
    40% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0em);
              transform: translateX(0em);
    }
  }
  header {
    background-image: url(../IMAGES/hero-mobile.jpg);
    background-size: 100%;
    margin-bottom: 15%;
  }
  header h1 {
    padding-top: 16%;
    padding-bottom: 30%;
    font-size: 4em;
  }
  header #LogoImage {
    display: block;
    width: 40%;
  }
  header .navDivs {
    display: none;
  }
  header .navDivs.active {
    display: block;
    -webkit-animation-name: activeAnim;
            animation-name: activeAnim;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-transition: ease-out;
    transition: ease-out;
    z-index: 2;
    font-size: 3em;
  }
  header .navDivs.active img {
    display: none;
  }
  header .navDivs.active ul {
    margin-top: 1em;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translateX(-5em);
            transform: translateX(-5em);
  }
  header .navDivs.active ul li {
    display: block;
    margin-bottom: 3em;
    border-bottom: 1px solid black;
  }
  header .navDivs.active .secondUl {
    display: inline-block;
    margin-top: 27em;
    margin-left: -12em;
  }
  header .hamburgerContainer {
    position: absolute;
    width: 5em;
    height: 4em;
    right: 0;
    z-index: 2;
  }
  header .hamburgerContainer .hamburger {
    width: 3.5em;
    height: .5em;
    background-color: #494949;
    margin: 10% 0;
    margin-left: auto;
    margin-right: auto;
  }
  header .headerFooter .specs .material-icons {
    margin: -3.75% -5.5%;
  }
  main .trigger.active #topImg_2 {
    -webkit-transform: translateY(-3em);
            transform: translateY(-3em);
  }
}

@media all and (min-width: 501px) and (max-width: 1000px) {
  header {
    background-image: url(../IMAGES/hero-mobile.jpg);
    background-size: 100% 120%;
  }
  header .mainUl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    white-space: nowrap;
    margin-left: -6em;
  }
  header .navDivs img {
    margin-top: 2.5em;
  }
  header .secondUl {
    margin-left: -1em;
  }
  header h1 {
    padding-bottom: 45%;
  }
  header #speedSpan {
    margin: -4% -5.5%;
  }
  main .backImgText {
    margin-top: -15em;
    padding-bottom: 1em;
  }
  main .trigger.active #topImg_2 {
    -webkit-transform: translateY(-2em);
            transform: translateY(-2em);
  }
  main .carTopText h3 {
    -webkit-transform: translateY(-4em);
            transform: translateY(-4em);
  }
  main .carTopText p {
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
  }
}

@media all and (min-width: 1001px) and (max-width: 1439px) {
  header {
    background-size: 100%;
    margin-bottom: -35%;
  }
  header h1 {
    padding-bottom: 2%;
  }
  header #speedSpan {
    margin: -3% -4%;
  }
  main .trigger.active #topImg_2 {
    -webkit-transform: translateY(-3em);
            transform: translateY(-3em);
  }
  main .carTopText h3 {
    -webkit-transform: translateY(-4em);
            transform: translateY(-4em);
  }
  main .carTopText p {
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
  }
}

@media all and (min-width: 1440px) and (max-width: 1900px) {
  header nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header h1 {
    padding-bottom: 10%;
  }
  main .trigger.active #topImg_2 {
    -webkit-transform: translateY(-4em);
            transform: translateY(-4em);
  }
}
/*# sourceMappingURL=MediaQ.css.map */