@media all and (max-width:500px) {
     body{
          overflow-x: hidden;
          width: 100%;
          zoom: 50%;
          #wall{
               display: none;

          }
          #wall.active{
               overflow-y: hidden;
               position: absolute;
               display: block;
               width: 100%;
               height: 400%;
               z-index: 1;
               background-color: rgb(141, 141, 141);
               animation: wallAnimation .25s ease-in-out ;
          }
          @keyframes wallAnimation {
               0%{
                    opacity: .1;
                    transform: translateX(20em);
               }
               40%{
                    opacity: 1;
               }
               100%{
                    
                    transform: translateX(0em);
               }
          }
     }
     header{
          background-image: url(../IMAGES/hero-mobile.jpg);
          background-size: 100%;
          margin-bottom: 15%;
          h1{
               padding-top: 16%;
               padding-bottom: 12%;
               font-size: 7em;
          }

          #LogoImage{
               display: block;
               width: 40%;
           }

         .navDivs{
              display: none;
          }
          
          .navDivs.active{
               display: block;
               animation-name: activeAnim;
               animation-duration: 1s; 
               transition: ease-out;
               z-index: 2;
               font-size: 3em;
               img{
                    display: none;
               }
               ul{
                    margin-top: 1em;
                    display: block;
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;
                    transform: translateX(-5em);
                   
                    li{
                         display: block;
                         margin-bottom: 3em;
                         border-bottom: 1px solid rgb(0, 0, 0);
                    }
               }
               .secondUl{
                    display: inline-block;
                    margin-top: 27em;
                    margin-left: -12em;
               }
               
          }
          .hamburgerContainer{
               position: absolute;
               width: 5em;
               height: 4em;
               right: 0;
               z-index: 2;

               .hamburger{
                width: 3.5em;
                height: .5em;
                background-color: rgb(73, 73, 73);
                margin: 10% 0;
                margin-left: auto;
                margin-right: auto;
               }
          }
          .headerFooter{
               .specs{
                    .material-icons{
                         margin: -3.75% -5.5%;;  
                    }
               }
          }
     }
     main{
          .trigger.active{
               #topImg_2{
                    transform: translateY(-3em);
               }
          }
     }
            
}

@media all and (min-width:768px) {
     header{
          background-image: url(../IMAGES/hero-mobile.jpg);
          background-size: 100% 120%;
              .mainUl{
                    display: flex;
                    justify-content: center;
                    white-space: nowrap;
                    margin-left: -6em;
               }
               .navDivs{
                    img{
                         margin-top: 2.5em;
                    }
                    
               }
               .secondUl{
                 margin-left: -1em;
                    
               }
          h1{
               padding-bottom: 45%;
          }
          #speedSpan{
               margin: -4% -5.5%;
          }   
     }
     main{
          .backImgText{
               margin-top: -15em; 
               padding-bottom: 1em; 
          }
          .trigger.active{
               #topImg_2{
                    transform: translateY(-2em);
               }
          }
          .carTopText{
               h3{
                    transform: translateY(-4em);
               }
               p{
                    transform: translateY(2em);
               }
               
          }
     }
}