@media all and (min-width:300px) and (max-width:400px) {
     body{
          overflow-x: hidden;
          width: 100%;
          //zoom: 50%;
          #wall{
               display: none;
          }
          #wall.active{
               overflow-y: hidden;
               position: absolute;
               display: block;
               width: 120%;
               height: 700%;
               z-index: 1;
               background-color: rgb(255, 255, 255);
               animation: wallAnimation .25s ease-in-out;
          }
          @keyframes wallAnimation {
               0%{
                    opacity: .1;
                    transform: translateX(20em);
               }
               40%{
                    opacity: 1;
               }
               100%{
                    
                    transform: translateX(0em);
               }
          }
     }
     header{
          background-image: url(../IMAGES/hero-mobile.jpg);
          background-size: 100% 73%;
          h1, .h1{
               padding-bottom: 16%;
               font-size: 4em;    
          }
          #quickestCar{
               white-space: pre;
               font-size: 1em;
          }

          #LogoImage{
               display: block;
               width: 40%;
           }

         .navDivs{
              display: none;
          }
          
          .navDivs.active{
               display: block;
               animation-name: activeAnim;
               animation-duration: 1s; 
               transition: ease-out;
               z-index: 2;
               font-size: 3em;
              
               img{
                    display: none;
               }
               ul{
                    margin-top: 1em;
                    margin-left: -1em;                    
                   
                    li{
                         display: block;
                         margin-bottom: 3em;
                         border-bottom: 1px solid rgb(0, 0, 0);
                         width: 5em;
                    }
               }
               .secondUl{
                    position: absolute;
                    bottom: -10em;
                    left: 40px;
               }
               
               
          }


          


          .hamburgerContainer{
               position: absolute;
               width: 5em;
               height: 4em;
               right: 0;
               z-index: 2;

               .hamburger{
                    width: 3.5em;
                    height: .5em;
                    background-color: whitesmoke;
                    margin: 10% 0;
                    margin-left: auto;
                    margin-right: auto;
               }
          }


          .hamburger.active{
               background-color: rgb(0, 0, 0);
          }

          .headerFooter{
               flex-direction: column;
               button{
                    margin-left: auto;
                    margin-right: auto;

               }
               
               .specs{
                    .material-icons{
                         margin: -9.75% -12.5%; 
                    }
               }
          }
     }
     main{
          transform: translateY(-250px);
          .animTopImage1{
               animation: standardAnimation .15s ease-in-out;
          }
          .trigger.active{       
               p{
                    transform: translateY(1em);
                    font-size: 0.813em;
                    line-height: 1.1em;
                    letter-spacing: -0.064em;
                    font-weight: 400;
               }
               h3{
                    transform: translateY(-7em);

               }
               #topImg_2{
                    transform: translateY(-1em);
                    animation-name: activeAnim;
                    animation-duration: 6s; 
                    transition: ease-in-out; 
               }
          }
          ul{
               margin-bottom: 10em; 
               margin-left: -40%;
               li{
                    width: 69%;
               }                      
          }
          .backImgText{
               h2{
                    line-height: 2;
                    letter-spacing: -0.066em;
                    font-weight: 500;
                    font-style: normal;
                    font-size: 1.8rem;
               }

               p{
                    font-size: .7em;
                    line-height: 1em;
                    margin-top: 18em;
               }
          }
          .interiorText{
               margin-bottom: 10%;
          }
          .noAnim{
               -webkit-transition: none !important; 
               -moz-transition: none !important; 
               -o-transition: none !important; 
               -ms-transition: none !important; 
               transition: none !important; 
               animation: none;
          }    
     }      
     
     footer{
          margin-top: -10em;
     }
     
     iframe{
          width: 300px;
     }  
     @keyframes ham1Anim {
          
          100%{
               transform: translateY(15px) rotate(-55deg) scale(.8);
               border-radius: 2em;
               transition: ease-in-out;    
          }
     }

     @keyframes ham2Anim {
          100%{
               opacity: 0;
               transform: translateX(50px);
               transition: ease-in-out;     
          }
     }
     @keyframes ham3Anim {
          100%{
               transform: translateY(-15px) rotate(55deg) scale(.8);
               border-radius: 2em;
               transition: ease-in-out;    
          }
     }


     #ham1.crossAnim{
          animation-name: ham1Anim;
          animation-duration: .5s; 
          transition: ease-in-out;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
     }
     #ham2.crossAnim{
          animation-name: ham2Anim;
          animation-duration: .15s; 
          transition: ease-in-out;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;

     }
     #ham3.crossAnim{
          animation-name: ham3Anim;
          animation-duration: .5s; 
          transition: ease-in-out;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          

     }
     
}
























@media all and (min-width:401px) and (max-width:500px) {
     body{
          overflow-x: hidden;
          width: 100%;
          //zoom: 50%;
          #wall{
               display: none;
          }
          #wall.active{
               overflow-y: hidden;
               position: absolute;
               display: block;
               width: 120%;
               height: 700%;
               z-index: 1;
               background-color: rgb(255, 255, 255);
               animation: wallAnimation .25s ease-in-out;
          }
          @keyframes wallAnimation {
               0%{
                    opacity: .1;
                    transform: translateX(20em);
               }
               40%{
                    opacity: 1;
               }
               100%{
                    
                    transform: translateX(0em);
               }
          }
     }
     header{
          background-image: url(../IMAGES/hero-mobile.jpg);
          background-size: 100%;
          .h1,h1{
               padding-bottom: 25%;
               font-size: 4em;
          }
          #quickestCar{
               font-size: 1em;
               margin-bottom: 2em;
               
          }
          #LogoImage{
               display: block;
               width: 40%;
           }

         .navDivs{
              display: none;
          }
          
          .navDivs.active{
               display: block;
               animation-name: activeAnim;
               animation-duration: 1s; 
               transition: ease-out;
               z-index: 2;
               font-size: 3em;
              
               img{
                    display: none;
               }
               ul{
                    margin-top: 1em;
                    transform: translateX(-1em);               
                   
                    li{
                         display: block;
                         margin-bottom: 3em;
                         border-bottom: 1px solid rgb(0, 0, 0);
                         width: 5em;
                    }
               }
               .secondUl{
                    position: absolute;
                    bottom: -10em;
                    left: 55px;
               }
               
          }
          .hamburgerContainer{
               position: absolute;
               width: 5em;
               height: 4em;
               right: 0;
               z-index: 2;

               .hamburger{
                width: 3.5em;
                height: .5em;
                background-color: whitesmoke;
                margin: 10% 0;
                margin-left: auto;
                margin-right: auto;
               }
               .hamburger.active{
                    background-color: black;
               }
          }

          .headerFooter{
               flex-direction: column;
               transform: translateY(-2em);
               line-height: 2.5em;
               button{
                    margin-left: auto;
                    margin-right: auto;
               }
               .specs{
                    .material-icons{
                         margin: -3.75% -17.5%;  
                    }
               }
               
          }
          .animationSign{
               transform: translateY(-5.5em) translateX(7em);
          }
     }

     main{
          transform: translateY(-9%);
          .trigger.active{
               #topImg_2{
                    transform: translateY(-3em);
               }
          }
          ul{
               margin: 0% -70%;
               margin-bottom: 15%;
          }
          .backImgText{
               h2{
                    line-height: 2;
                    letter-spacing: -0.066em;
                    font-weight: 500;
                    font-style: normal;
                    font-size: 1.8rem;
                    transform: translateY(2em);
               }

               p{
                    font-size: .7em;
                    line-height: 1em;
                    margin-top: 18em;
               }
          }
          .interiorText{
               margin-bottom: 10%;
          }
          .trigger.active{       
               p{
                    transform: translateY(1em);
                    font-size: 0.813em;
                    line-height: 1.1em;
                    letter-spacing: -0.064em;
                    font-weight: 400;
               }
               h3{
                    transform: translateY(-8em);
     
               }
               #topImg_2{
                    transform: translateY(-1.25em);
                    animation-name: activeAnim;
                    animation-duration: 5s; 
                    transition: ease-in-out;
               }
          }
          .animTopImage1{
               animation: standardAnimation .15s ease-in-out;
          }

     }
     iframe{
          width: 400px;
     } 
     
     @keyframes ham1Anim {
          
          100%{
               transform: translateY(15px) rotate(-55deg) scale(.8);
               border-radius: 2em;
               transition: ease-in-out;    
          }
     }

     @keyframes ham2Anim {
          100%{
               opacity: 0;
               transform: translateX(50px);
               transition: ease-in-out;     
          }
     }
     @keyframes ham3Anim {
          100%{
               transform: translateY(-15px) rotate(55deg) scale(.8);
               border-radius: 2em;
               transition: ease-in-out;    
          }
     }
     #ham1.crossAnim{
          animation-name: ham1Anim;
          animation-duration: .5s; 
          transition: ease-in-out;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
     }
     #ham2.crossAnim{
          animation-name: ham2Anim;
          animation-duration: .15s; 
          transition: ease-in-out;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;

     }
     #ham3.crossAnim{
          animation-name: ham3Anim;
          animation-duration: .5s; 
          transition: ease-in-out;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          
     }
            
}








































@media all and (min-width:768px) and (max-width:1024px) {
     header{
          background-image: url(../IMAGES/hero-mobile.jpg);
          background-size: 100% 120%;
              .mainUl{
                    display: flex;
                    justify-content: center;
                    white-space: nowrap;
                    margin-left: -6em;
               }
               .navDivs{
                    img{
                         margin-top: 2.5em;
                    }
                    
               }
               .secondUl{
                 margin-left: -1em;
                    
               }
          h1{
               padding-bottom: 45%;
          }
          #speedSpan{
               margin: -4% -5.5%;
          }   
     }
     main{
          .backImgText{
               margin-top: -15em; 
               padding-bottom: 1em; 
          }
          .trigger.active{
               #topImg_2{
                    transform: translateY(-2em);
               }
          }
          .carTopText{
               h3{
                    transform: translateY(-4em);
               }
               p{
                    transform: translateY(2em);
               }
               
          }
     }
}

@media all and (min-width:1025px) and (max-width:1439px) {
     header{
          background-size: 100%;
          h1{
               padding-bottom: 2%;
          }
          #speedSpan{
               margin: -3% -4%;
          }
          margin-bottom: -35%;
     }
     main{
          .trigger.active{
               #topImg_2{
                    transform: translateY(-3em);
               }
          }
          .carTopText{
               h3{
                    transform: translateY(-4em);
               }
               p{
                    transform: translateY(2em);
               }
               
          }
     }
    
         
}

@media all and (min-width:1440px) and (max-width:1900px) {
    header{
          nav{
               justify-content: space-around;
          }
          h1{
               padding-bottom: 10%;
          }
     } 
     main{
          .trigger.active{
               #topImg_2{
                    transform: translateY(-4em);
               }
          }
     }
}
