@media all and (max-width: 500px) {
  body {
    overflow-x: hidden;
    width: 100%;
    zoom: 50%;
  }
  body #wall {
    display: none;
  }
  body #wall.active {
    overflow-y: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 400%;
    z-index: 1;
    background-color: #8d8d8d;
    -webkit-animation: wallAnimation .25s ease-in-out;
            animation: wallAnimation .25s ease-in-out;
  }
  @-webkit-keyframes wallAnimation {
    0% {
      opacity: .1;
      -webkit-transform: translateX(20em);
              transform: translateX(20em);
    }
    40% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0em);
              transform: translateX(0em);
    }
  }
  @keyframes wallAnimation {
    0% {
      opacity: .1;
      -webkit-transform: translateX(20em);
              transform: translateX(20em);
    }
    40% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0em);
              transform: translateX(0em);
    }
  }
  header {
    background-image: url(../IMAGES/hero-mobile.jpg);
    background-size: 100%;
    margin-bottom: 15%;
  }
  header h1 {
    padding-top: 16%;
    padding-bottom: 12%;
    font-size: 7em;
  }
  header #LogoImage {
    display: block;
    width: 40%;
  }
  header .navDivs {
    display: none;
  }
  header .navDivs.active {
    display: block;
    -webkit-animation-name: activeAnim;
            animation-name: activeAnim;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-transition: ease-out;
    transition: ease-out;
    z-index: 2;
    font-size: 3em;
  }
  header .navDivs.active img {
    display: none;
  }
  header .navDivs.active ul {
    margin-top: 1em;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translateX(-5em);
            transform: translateX(-5em);
  }
  header .navDivs.active ul li {
    display: block;
    margin-bottom: 3em;
    border-bottom: 1px solid black;
  }
  header .navDivs.active .secondUl {
    display: inline-block;
    margin-top: 27em;
    margin-left: -12em;
  }
  header .hamburgerContainer {
    position: absolute;
    width: 5em;
    height: 4em;
    right: 0;
    z-index: 2;
  }
  header .hamburgerContainer .hamburger {
    width: 3.5em;
    height: .5em;
    background-color: #494949;
    margin: 10% 0;
    margin-left: auto;
    margin-right: auto;
  }
  header .headerFooter .specs .material-icons {
    margin: -3.75% -5.5%;
  }
  main .trigger.active #topImg_2 {
    -webkit-transform: translateY(-3em);
            transform: translateY(-3em);
  }
}

@media all and (min-width: 768px) {
  header {
    background-image: url(../IMAGES/hero-mobile.jpg);
    background-size: 100% 120%;
  }
  header .mainUl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    white-space: nowrap;
    margin-left: -5em;
  }
  header .navDivs img {
    margin-top: 1.5em;
  }
  header .secondUl {
    margin-left: -1em;
  }
  header h1 {
    padding-bottom: 45%;
  }
  header .specs span {
    margin-right: 1em;
  }
}
/*# sourceMappingURL=MediaQ.css.map */