*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


header{
    background-image: url(../IMAGES/hero.jpg);
    width: 100%;
    height: 60em;
    background-size: 100% 115%;
    background-repeat: no-repeat;
    background-color: aqua;
     nav{
          display: flex;
          justify-content: space-around;
     }
    
     li{
          display: inline-block;
          margin-right: 2em;
     }


     .HeaderHeroIMG{
          width: 100%;   
     }
}