*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     font-family: 'Josefin Sans', sans-serif;
     overflow-x: hidden;
     color: whitesmoke;
     background-color: black;
}

header{
    background-image: url(../IMAGES/hero.jpg);
    width: 100%;
    height: 57em;
    background-size: 100% 80%;
    background-repeat: no-repeat;
    color: whitesmoke;

     nav{
          color: black;
          display: flex;
          justify-content: space-between;
          margin-top: 1em;
          font-size: .9em;
     }
    
     li{
          display: inline-block;
     }

     .mainUl{
          li{
               margin: 0% 1em;
          }
     }
     .secondUl{
          li{
               margin-left: 2em;
          }
     }

     .HeaderHeroIMG{
          width: 100%;   
     }

     h1{
          font-size: 3.5em;
          text-align: center;
          margin-top: 1.25em;
          color: gray;
     }
     p{
          text-align: center;
          margin-top: 27%;
          font-size: .9em;

          
     }

     .headerFooter{
          text-align: center;
          display: flex;
          justify-content: center;
          .specs{
               margin: 1.1% 2.5%;
               h3{
                    font-size: 1.2em;

               }

               .material-icons{
                    position: absolute;
                    margin: -2.75% -3.5%;
                    font-size: 1.5em;
                    
               }
               p{
                    margin-top: -5%;
               }
               
          }
          button{
               color: whitesmoke;
               padding: 0em 2.5em;
               margin: 1em 0em;
               border-radius: 2em;
               border: none;
               background: transparent;
               border-bottom: 1px solid white;
          }
 
      
     }
     .animationSign{
          display: inline-block;
          margin: 0% 50%;
          animation: both;
          .material-icons{
               animation: jump 1.5s ease-in-out infinite;
               font-size: 1.75em;
           

          }
          a{
               color: whitesmoke;
          }
     }
     @keyframes jump {
          0%{
               transform: translateY(15px);
          }
          50%{

               transform: translateY(0px);
          }
          100%{
               transform: translateY(15px);
          }
     }
}

main{
     position: relative;
     z-index: 0;
     background-color: black;
     padding: 5% 0%;
     margin: -12% auto;
     .spannedLi{
          border: none;
     }
     li{
          position: relative;
          z-index: 2;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: .75% 30%;
          border-bottom: 1px solid rgba(255, 255, 255, 0.144);
          div{
               display: inline-block;
               span{
                    font-size: .75em;
                    
               }   
          }
     }
     iframe{
          margin: 0% 28%;
          margin-top: -5%;
     }
     @keyframes standardAnimation {
          0%{
               transform: translateY(50px);
               opacity: 0;
          }
        
     }
     .anim{
          animation: standardAnimation 1.5s ease-in-out;
     }
     #backImg{
          position: relative;
          z-index: 1;
          display: block;
          margin-left: auto;
          margin-right: auto;
          transform: translateY(-16.5%);
          width: 90%;
          border: 2px solid rgba(128, 128, 128, 0.26);
          outline: 3px solid rgba(187, 187, 187, 0.075);
          
          
     }
     .backImgText{
          display: flex;
          position: relative;
          z-index: 2;
          justify-content: space-evenly;
          margin: 0% 5%;
          margin-top: -20em;   
          overflow-wrap: break-word;

     }

     #interiorImg{
          z-index: 3;
          position: relative;
          width: 60%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 5%;
          
     }
     .interiorText{
          display: flex;
          justify-content: center;
          div{
               margin: auto 4.25%;
          }
     }
     #topImg_1{
          position: relative;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          animation-name: activeAnim;
          animation-duration: 2.5s;
          animation-iteration-count: infinite;

     }

     #topImg_2{
          position: relative;
          display: none;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          margin-top: -70.2%;
     }
     @keyframes activeAnim {
          0%{
               opacity: 0;
          }
          50%{
               opacity: 1;
          }
     }

     .trigger.active{
          #topImg_2{
               position: relative;
               display: block;
               transform: translateY(-4em);
               animation-name: activeAnim;
               animation-duration: 1.5s;               
          }
         
     }
     
     .carTopText{
          h3,p{
               
               position: relative;
               z-index: 5;
               margin: 0% 20%;
               margin-top: -14%;
                    
          }
          h3{
               transform: translateY(-8em);
               
          }
     }

     .secondVideo{
          margin-top: 25%;
          p{
               text-align: center;
          }
     }
    
   


     
    
     
}