*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     font-family: 'Josefin Sans', sans-serif;
     overflow-x: hidden;
     color: whitesmoke;
}

header{
    background-image: url(../IMAGES/hero.jpg);
    width: 100%;
    height: 57em;
    background-size: 100% 115%;
    background-repeat: no-repeat;
    color: whitesmoke;

     nav{
          color: black;
          display: flex;
          justify-content: space-between;
          margin-top: 1em;
          font-size: .9em;
     }
    
     li{
          display: inline-block;
     }

     .mainUl{
          li{
               margin: 0% 1em;
          }
     }
     .secondUl{
          li{
               margin-left: 2em;
          }
     }

     .HeaderHeroIMG{
          width: 100%;   
     }

     h1{
          font-size: 3.5em;
          text-align: center;
          margin-top: 1.25em;
          color: gray;
     }
     p{
          text-align: center;
          margin-top: 30%;
          
     }

     .headerFooter{
          text-align: center;
          display: flex;
          justify-content: center;
          .specs{
               margin: auto 2.5%;
               .material-icons{
                    position: absolute;
                    margin: -2% -2.5%;
                    font-size: 1.5em;
               }
               p{
                    margin-top: -5%;
               }
               
          }
          button{
               color: whitesmoke;
               padding: 0em 2.5em;
               margin: 1em 0em;
               border-radius: 2em;
               border: none;
               background: transparent;
               border-bottom: 1px solid white;
          }
 
      
     }
     .animationSign{
          display: inline-block;
          margin: 0% 50%;
          animation: both;
          .material-icons{
               animation: jump 1.5s ease-in-out infinite;
               font-size: 2em;
          }
          a{
               color: whitesmoke;
          }
     }
     @keyframes jump {
          0%{
               transform: translateY(15px);
          }
          50%{

               transform: translateY(0px);
          }
          100%{
               transform: translateY(15px);
          }
     }
}

main{
     background-color: black;
     padding: 5% 0%;
     .spannedLi{
          border: none;
     }
     li{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: .75% 30%;
          border-bottom: 1px solid rgba(255, 255, 255, 0.144);
          div{
               display: inline-block;
               span{
                    font-size: .75em;
                    
               }   
          }
     }
     iframe{
          margin: 0% 35%;
          
     }
}